@import "settings";
@import "foundation";
@import "font-awesome";

* {
   outline: 1px solid #cdf;
}

img {
   max-width: 100%;
   height: auto;
}

p {
   font-size: 10px;
}





.mxw100 {
   max-width: 100%;
}
